@import "normalize";
body {
    background: url('../1-assets/background.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.logo__top {
    display: block;
    margin: auto;
    opacity: 0.5;
    max-width: 100vw;
}
.register {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 20px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-clip: padding-box;
    background-color: #f4f4f4;
}
input, select {
    height: 40px;
    border: 2px solid #c6c6c6;
    border-radius: 5px;
    box-shadow: none;
}
select {
    -moz-appearance: none;
    -webkit-appearance: none;
}
// input::placeholder {

// }

