@import "normalize";
body {
    background: url('../1-assets/background.jpg') no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
header>img {
    display: block;
    margin: auto;
    opacity: 0.5;
    max-width: 100vw;
}
.register {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 20px solid rgba(0, 0, 0, 0.5);
}

